body{
    font-family:'Lora';
    background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("D:/Antony/websites/startbootstrap-business-casual-master/img/bg.jpg");
    background-attachment: fixed;
    background-position:center;
    background-size:cover;
    /* background-size: 100px 300px; */
    /* background-repeat: no-repeat; */
}
h1{
  font-family:'Raleway' ;
}
.site-heading{
  background-color: darkgoldenrod;
  /* margin-top:80px; */
  margin-top:5rem;
  margin-bottom:5rem;
  text-transform:uppercase;
  line-height:1;
  font-family:'Raleway';
}
 .site-heading-upper{
  display:block;
  font-size:2rem;
  font-weight:800;

}
 .site-heading-lower{
  font-size:5rem;
  font-weight:100;
  line-height:4rem;
}