body{
    font-family:'Lora';
    background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("D:/Antony/websites/startbootstrap-business-casual-master/img/bg.jpg");
    background-attachment: fixed;
    background-position:center;
    background-size:cover;
    /* background-size: 100px 300px; */
    /* background-repeat: no-repeat; */
}
h1{
  font-family:'Raleway' ;
}
.site-heading{
  background-color: darkgoldenrod;
  /* margin-top:80px; */
  margin-top:5rem;
  margin-bottom:5rem;
  text-transform:uppercase;
  line-height:1;
  font-family:'Raleway';
}
  .site-heading .site-heading-upper{ 
  display:block;
  /* background-color: orangered; */
  /* font-size:2rem; */
   font-weight:800; 

}
  .site-heading .site-heading-lower{ 
  font-size:5rem;
  font-weight:100;
  line-height:4rem;
}
/* -------nav------ */
#mainNav{
  /* background-color: rgba(255, 255, 255, 0.85); */
  font-family:'Raleway';
  background-color: yellowgreen;
}
#mainNav .navbar-brand{
   color:black;/**************************************************************************/
}
#mainNav .navbar-nav .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 800;
}

#mainNav .navbar-nav .nav-item.active .nav-link {
  color: #e6a756;
}
/*****************************section*****************************/
.page-section{
  margin-top:5rem;
  background-color: violet;
  margin-bottom:5rem;
}
.intro{
  position:relative;
}
.bg-faded {
  /* background-color: rgba(255, 255, 255, 0.85); */
  background-color: tomato;
}
.section-heading{
  text-transform:uppercase;
}
.section-heading .section-heading-upper{
  display:block;
  font-size:1rem;
  font-weight:800;
}
.section-heading .section-heading-lower{
  display:block;
  font-size:3rem;
  font-weight:100;
}

/************************section2*************/
.cta{
  background-color: aqua;
  padding-top:5rem;
  padding-bottom:5rem;
}