body{
    font-family: 'Lora';
    /* background-image: radial-gradient(green,blue); */
    background-image: linear-gradient(rgba(99, 59, 46, 0.65), rgba(114, 43, 19, 0.65)),
    url("D:/Antony/websites/startbootstrap-business-casual-master/img/bg.jpg");
    background-repeat: no-repeat;
    /* background-size: 200px 500px; */
    background-size: cover;
    background-position: center;
    background-attachment: scroll;

}
.site-heading{
    margin-top:5rem;
    margin-bottom:5rem;
    font-family:'Raleway';
    line-height:1;
    text-transform:uppercase;

}
.site-heading .site-heading-upper{
    display:block;
    /* text-transform:uppercase; */
    font-weight:800;
    font-size:2rem;
}
.site-heading .site-heading-lower{
    display:block;
    font-size:5rem;
    font-weight:100;
    line-height:4rem;
}